@page "/todo/{info}"

@inject IJSRuntime JSRuntime;
@using IntoTheArena.Shared;

@*@using System.Net.Http*@
@inject HttpClient Http
@*@inject Arena _arena*@
@inject IJSRuntime JSRuntime
@inject IHttpClientFactory HttpClientFactory

@using IntoTheArena.Client.Data
@inject NavigationManager navigationManager
@using System.Text.Json.Serialization
@layout EmptyLayout
@using System.Text.Json
@using IntoTheArena.Shared.CombatManagement

<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.4;
    }

    .enabledDiv {
        pointer-events: all;
        opacity: 1;
    }
</style>

<div class="webgl-content">
    <div id="unityContainer" style="width: 960px; height: 600px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">unity6</div>
    </div>

    <div class="@_actionsClass">

        <div>
            <input type="radio" id="optSwing" name="action" value="Swing" @onclick="@(e => _action = CombatAction.SWING)">
            <label for="optSwing">Swing</label>
        </div>

        <div>
            <input type="radio" id="optBlock" name="action" value="Block" @onclick="@(e => _action = CombatAction.BLOCK)">
            <label for="optBlock">Block</label>
        </div>

        <div>
            <input type="radio" id="optRest" name="action" value="Rest" @onclick="@(e => _action = CombatAction.REST)">
            <label for="optRest">Rest</label>
        </div>

        <div>
            <button type="button" disabled="@DisallowSubmit" @onclick="submitMove">SUBMIT</button>

            @*<button type="button" @onclick="submitMove">SUBMIT</button>*@
        </div>
    </div>
</div>

<div>
    <button onclick="javascript: intoTheArenaFunctions.fooFunc();">Click me</button>
</div>


<div>
    <span>@_foo</span>
</div>


@code
{
    private string _foo = "x";

    [Parameter]
    public string Info { get; set; }

    private string _role = "";
    private string _sessionId = "";
    private string _fighterId = "";
    private string _playerId = "";

    //private string _action = "";
    private CombatAction _action = CombatAction.UNASSIGNED;

    private static Action action;

    ChatClient _chatClient = null;

    public string _actionsClass = "disabledDiv";

    //[JSInvokable]
    //public static void InitializeCombat()
    //{
    //    action.Invoke();
    //}
    [JSInvokable]
    public static void OnAnimationIdle()
    {
        action.Invoke();
    }

    private void UpdateMessage()
    {
        _foo = "UpdateMessage Called!";
        _actionsClass = "enabledDiv";
        StateHasChanged();
    }


    public bool DisallowSubmit
    {
        get
        {
            return _action == CombatAction.UNASSIGNED;
        }
    }

    protected override void OnInitialized()
    {
        action = UpdateMessage;
    }

    protected override async Task OnInitializedAsync()
    {

        //﻿{"SessionId":"e0231f99-e3de-422b-b991-4314fcc9ffb2","FighterId":"3a5c704b-07a9-4fcb-81f5-756c9bf6e054","Role":"Black"}

        dynamic dynamicInfo = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(this.Info);
        _role = dynamicInfo.Role;
        _sessionId = dynamicInfo.SessionId;
        _fighterId = dynamicInfo.FighterId;
        _playerId = dynamicInfo.PlayerId;


        _chatClient = new ChatClient(_playerId, navigationManager);
        await _chatClient.StartAsync();

        _chatClient.CombatRoundResult += OnCombatRoundResult;

    }

    //async void OnCombatRoundResult(object sender, CombatRoundResultEventArgs e)
    void OnCombatRoundResult(object sender, CombatRoundResultEventArgs e)
    {

        CombatResult combatResult = System.Text.Json.JsonSerializer.Deserialize<CombatResult>(e.MessageContent);

        string animationFunctionName = "";
        switch (combatResult.AnimationId)
        {
            case 0:
                animationFunctionName = "SlashSlash";
                break;

            case 1:
                animationFunctionName = "SlashBlock";
                break;

            case 2:
                animationFunctionName = "SlashPower1";
                break;

            case 3:
                animationFunctionName = "SlashPower2";
                break;

            case 4:
                animationFunctionName = "BlockSlash";
                break;

            case 5:
                animationFunctionName = "BlockBlock";
                break;

            case 6:
                animationFunctionName = "BlockPower";
                break;

            case 7:
                animationFunctionName = "PowerSlash1";
                break;

            case 8:
                animationFunctionName = "PowerSlash2";
                break;

            case 9:
                animationFunctionName = "PowerBlock";
                break;

            case 10:
                animationFunctionName = "PowerPower";
                break;

            case 11:
                animationFunctionName = "PowerBlock";
                break;

            case 12:
                animationFunctionName = "Player1Win";
                break;

            case 13:
                animationFunctionName = "Player2Win";
                break;

            default:
                animationFunctionName = "";
                break;

        }

        //List<KeyValuePair<string, string>> unityParams = new List<KeyValuePair<string, string>>();
        //unityParams.Add(new KeyValuePair<string, string>("functionName", animationFunctionName));
        //unityParams.Add(new KeyValuePair<string, string>("player1Special", "false"));
        //unityParams.Add(new KeyValuePair<string, string>("player2Special", "false"));
        //unityParams.Add(new KeyValuePair<string, string>("player1Bleed", "1"));
        //unityParams.Add(new KeyValuePair<string, string>("player2Bleed", "2"));
        //unityParams.Add(new KeyValuePair<string, string>("player1Heal", "false"));
        //unityParams.Add(new KeyValuePair<string, string>("player2Heal", "false"));
        //unityParams.Add(new KeyValuePair<string, string>("player1Taunt", "false"));
        //unityParams.Add(new KeyValuePair<string, string>("player2Taunt", "false"));

        //Dictionary<string, string> unityParams = new Dictionary<string, string>();
        //unityParams["functionName"] = animationFunctionName;
        //unityParams["player1Special"] = "false";
        //unityParams["player2Special"] = "false";
        //unityParams["player1Bleed"] = "1";
        //unityParams["player2Bleed"] = "2";
        //unityParams["player1Heal"] = "false";
        //unityParams["player2Heal"] = "false";
        //unityParams["player1Taunt"] = "false";
        //unityParams["player2Taunt"] = "false";

        var unityParams = new
        {
            functionName = animationFunctionName,
            player1Special = "false",
            player2Special = "false",
            player1Bleed = "1",
            player2Bleed = "2",
            player1Heal = "false",
            player2Heal = "false",
            player1Taunt = "false",
            player2Taunt = "false"

        };

        string serializedDictionary = JsonSerializer.Serialize(unityParams);
        //string serializedDictionary = JsonSerializer.Serialize < Dictionary<string, string>>(unityParams);
        //string serializedDictionary = JsonSerializer.Serialize<KeyValuePair<string, string>>(unityParams);


        //JSRuntime.InvokeVoidAsync("intoTheArenaFunctions.triggerAnimation", JsonSerializer.Serialize(unityParams));
        JSRuntime.InvokeVoidAsync("intoTheArenaFunctions.triggerAnimation", serializedDictionary);

        _actionsClass = "enabledDiv";
        StateHasChanged();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("intoTheArenaFunctions.startGame");
        }
    }

    async void submitMove()
    {

        _actionsClass = "disabledDiv";
        StateHasChanged();

        CombatMove combatMove = new CombatMove() { SessionId = _sessionId, FighterId = _fighterId, PlayerId = _playerId, Action = _action };

        var http = HttpClientFactory.CreateClient("IntoTheArena.AnonymousAPI");
        var response = await http.PostAsJsonAsync("Combat/CombatMove", combatMove);
    }

    //void assignAction(char Action)
    //{
    //    switch (Action)
    //    {
    //        case 'S':
    //            _action = CombatAction.SWING;
    //            break;


    //        case 'B':
    //            _action = CombatAction.BLOCK;
    //            break;

    //        case 'R':
    //            _action = CombatAction.REST;
    //            break;

    //    }
    //    // _action = Action;
    //}
}
